---
layout: default
title: Blog Posts
---

<div id="home">
  <div>
	  <input type="text" id="finder" placeholder="Search..." onkeydown="LMWebFinder.pressKey(this.value, event);">	
  </div>
  <h2><i class="fa fa-bookmark"></i> Blog Posts</h2>
  <ul id="blog-posts" class="posts">
  	<div id="findIn">
    {% for post in paginator.posts %}
      <li><span class="date">{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
      <p class="post_description">{{ post.description }}</p>
    {% endfor %}
    </div>
  </ul>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: 'index.html', '/' | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

</div>