<nav>
  <!--<h1>Hi.</h1>-->
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img class="circular_logo" src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <!--<h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>-->
  <div class="browser-menu">
    <a href="{{ '/' }}"><i class="fa fa-bookmark"></i>Home</a><br/>
    <a href="{{ '/about' }}"><i class="fa fa-user"></i>About</a><br/>
  </div>
  <div id="bio">
    <p>Hey, I'm Daniel Morales (aka Grender) and this is my personal blog.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
