* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: black;
  color: #5A973D;
  line-height: 24px;
  margin: 0;
  /*border-top: 7px solid {{ site.data.theme.highlight_color }};*/
}

p.post_description {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: #5A973D;
  padding-right: 5px;
  font-size:14px;
  border-bottom: 1px dotted #aaa;
}

.pager {
  list-style-type: none;
}

.pager .next {
  float: right;
}

.pager .previous {
  float: left;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  text-shadow: 2px 2px 8px #00FE00;
  font-weight: 600;
}

h1.title {
  font-weight: 800;
  padding-bottom: 8px;
  border-bottom: 1px dotted #aaa;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-size: 21px;
  line-height: 24px;
  margin: 1em 0;
}

ul {
  margin: 1em 0;
  list-style: disc;
}

a {
  color: {{ site.data.theme.highlight_color }};
  text-decoration: none;
}

a:hover {
  color: {{ site.data.theme.highlight_color }};
  text-decoration: underline;
}

a:visited {
  color: {{ site.data.theme.highlight_color }};
  text-decoration: none;
}

table {
  font-size: inherit;
  font: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#post {
  border-bottom: 1px dotted #aaa;
  color: #5A973D;
}

ul.posts {
  margin-top: 0;
  list-style-type: none;
  text-align: left;
  margin-bottom: 10px;
}

ul.posts li {
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 0px;
}

ul.posts {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: #aaa;
  padding-right: 5px;
  font-size:14px;
}

h2.category_header {
  text-transform: capitalize;
}

#category_selector { 
  border: 1px solid #5A973D; 
  font-size: 16px; 
  color: #5A973D; 
  background-color: #003300;
  padding: 5px; 
  width: 100%;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}

.catbloc:not(:target) {
  display: none;
}

.meta {
  color: #aaa;
  margin: 0 0 10px 0;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
}

nav h1, nav h2 {
  text-align: center;
}

#bio {
  margin-top: 10px;
  margin-bottom: 15px;
  border: dotted #aaa;
  border-width: 1px 0;
  padding-top: 15px;
  font-size: 0.75em;
  color: #5A973D;
}

.circular_logo {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}



.circular_logo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.browser-menu {
  border-top: 1px dotted #aaa;
  padding-top: 15px;
  margin-bottom: 15px;
}

.browser-menu i {
  padding-right: 6px;
}

.mobile-menu {
  margin-top: 7px;
  border-bottom: 1px dotted #aaa;
}

.mobile-menu i {
  padding-right: 6px;
}

.mobile-menu ul li {
  display: inline;
  margin-right: 10px;
}

#social {
  margin-bottom: 10px;
  font-size: 13px;
}

#post pre {
  line-height: 1.5;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 10px 10px 15px;
  padding: 10px;
  border-radius: 1px;
  background: rgb(24, 24, 24);
  margin-bottom: 20px !important;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

.sidebar {
  padding-top: 25px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: #aaa;
}

.sidebar p {
  font-weight: 200;
}

.sidebar a {
  font-weight: 600;
}

.content {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  border-left: 1px solid #aaa;
  padding-left: 40px;
  padding-top: 25px;
  min-height: 400px;
}

.footer {
  width: 100%;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 1px solid #aaa;
  overflow: hidden;
}

.aside {
  font-size: 75%;
  color: #666;
}

#search-container {
  text-align: left;
  color: #5A973D;
  border: 1px solid #5A973D;
  background-color: #003300;
  margin-bottom: 10px;
  padding: 8px;
}

#search-container label {
  font-weight: normal;
  font-size: 12px;
  width: 15%;
}

#search-input {
  outline: none;
  border: 0px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  background-color: transparent;
  color: #5A973D;
  font-size: 12px;
  width: 65%;
}

#results-container {
  margin: 0 0 0 0; 
  list-style-type: none;
  font-size: 12px;
}

#results-container li {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #5A973D;
  margin: 0;
  padding: 4px 0px 4px 0px;
}

#results-container li:first-child {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-width: 0px;
}

#results-container li:last-child {
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#logo, #gravatar {
  margin-bottom: 25px;
}

#gravatar {
  width: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stalker {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

#stalker a {
  width: 29px;
  overflow: hidden;
  float: left;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

#stalker i {
  font-size: 28px;
  margin-right: 5px;
}

#stalker a:hover {
  text-decoration: none;
  color: gray;
}

i.fa-hn {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  text-align: center;
  font-size: 18px !important;
  position: relative;
  color: white;
}

.home {
  font-size: 24px !important;
  float: right;
  color: #aaa;
}

.home:hover {
  text-decoration: none;
}

#image-404 {
  display: block;
  margin: 0 auto;
}

.disclaimer p {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
}

.footnotes {
  font-size: 14px;
  font-style: italic;
}

.icon-overlay {
  font-size: 16px !important;
  position: relative;
  bottom: 27px;
  left: 5px;
  color: white;
}

.caption {
  margin: 0 auto;
  text-align: center;
  font-size: smaller;
  padding-bottom: 10px
}

sup {
  vertical-align: super;
  font-size: smaller;
}
